<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>MoviePal</title>
</head>
 
<body>
    <h1 style="text-align:center">MoviePal: Your personalized movie recommender</h1>
    <h2 style="text-align:center">Rate some of these popular movies to get personalized movie recommmendations</h2>
    <div style="border: 1px solid black">
        <table align="center" style="width:40%">
            <tbody>
            {% for movie_title in movies %}
                <div>
                    <tr>
                        <td class="image" rowspan="2">
                            <img src='something' alt="something">
                        </td>
                        <td style="font-weight:bold;font-size:20px">{{movie_title}}</td>
                    </tr>
                    <tr>
                        <td><b>Rating: </b>
                        <select name="item_condition">
                            <option value="0">N/A</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                        </td>
                    </tr>
                </div>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <br><br>
    <div style="text-align:center">  
        <input type="submit" style="" value="Generate Recommendations">
    </div>  
</body>
 
</html>

