<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>MoviePal</title>
</head>
 
<body>
    <h1 class="centerBoldText">Welcome to MoviePal!</h1>
    <div style="border: 1px solid black">
        <table align="center" style="width:40%">
            <tbody>
                <div>
                    <tr>
                        <td class="image" rowspan="5">
                            <img src='something' alt="something">
                        </td>
                        <td style="font-weight:bold;font-size:20px">Movie Title</td>
                    </tr>
                    <tr>
                        <td><b>Description</b></td>
                    </tr>
                    <tr>
                        <td><b>Rating: </b> </td>
                    </tr>
                </div>
            </tbody>
        </table>
    </div>
</body>
 
</html>

